**/__pycache__/**
*.ipynb
**/.ipynb_checkpoints/**
*.npy
*.npz
**/.vscode/**
**/grasp_label*/**
**/logs
**/old_logs
**/dump*/**
**/build/**
**/log*/**
**/pointnet2/pointnet2.egg-info/
**/knn/knn_pytorch.egg-info/
*.o
*.so
*.egg*
*.ply
.DS_Store
render_kitchen.py
.history/

**/meshes/**
**/ur_toolbox/ur_toolbox.egg-info/
**/ur_toolbox/dist/
**/ur_toolbox/venv/
**/PCAN-Basic_Linux-4.6.2.36/**
**/peak-linux-driver-8.12.0/**

experiments/*
best_models/*
assets/*
diverse_lift/assets/objaverse

agod_objects/objectMeshes
agod_objects/observedGraspability
agod_objects/plots
agod_objects/predictedGraspability
agod_objects/spaceExplorationLog
